<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Walk tracker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{%  static 'filters/styles.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <h2><a href="#">WALK TRACKER</a></h2>
  </header>

  <section class="hero">
    <div class="background-image"></div>
    <div class="hero-content-area">
      <h1 class="header-title">WALK TRACKER</h1>
      <h3>Helping you measure your journey</h3>
      <a href="/dashboard" class="btn">Go To Dashboard</a>
    </div>
  </section>
</body>
</html>
